<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Employee Code</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.employeeCode }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.designation }}</td>
            <td><a (click)="deleteEmployee(employee.employeeCode)" class="btn btn-info">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>